#don't put this into source control
#only accepts variables which start with REACT_APP_ due to create-back-app

REACT_APP_FACEBOOK_SECRET_KEY=
REACT_APP_TWITTER_CONSUMER_KEY=
REACT_APP_TWITTER_CONSUMER_SECRET=
 

