@import 'theme/_helpers';
.filtersForm {
  margin-bottom: 60px;
  .auditFilters  {
    padding: 0 20px;

    .auditSelect {
      width: 200px;
    }
    .auditDetails {

    }
    .auditOptions {
      .checkbox {
        width: 250px;
        label {
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }
}
