.filtersForm {

  .websiteFilters  {
    padding: 20px 0px;

    .websiteSelect {
      width: 40%;
      padding: 0 20px;
    }
    .checkbox {
      margin: 20px;
      width: 250px;
      label {
        display: inline-block;
        cursor: pointer;
      }
    }
  }

}
.topNewCampaignButton {
  margin-bottom: 30px;
}
