@import 'theme/_helpers';

.postMenu {
  border-right: 1px solid $black;
  border-left: 1px solid $black;


  .providerColumn {
    @include mq(2xs) {
      @include cols(12);
    }
    @include mq(xs) {
      @include cols(12);
    }
    @include mq(md) {
      @include cols(4);
    }
    border-right: 1px solid $black;
    border-left: 1px solid $black;

    .postCard {
      width: 100%;
      //min-width: 200px;
    }
  }
}
