@import 'theme/_helpers';


main.unauthenticatedContent {
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  background-color: $light-gray-bg;

  h1 {
    @include rems(45);
  }
  h2 {
    @include rems(36);
  }
  h4 {
    @include rems(18);
    margin: 2rem 0 1rem 0;
  }
  h5 {
    @include rems(12);
    text-align: center;
    margin: 1rem 0;
  }
  input {
    width: 90%;
    color: $text;
    margin: 0;
  }
  button {
  }
}
