.fieldWrapper {
	margin-top: 10px;
}

.fieldset {
	margin: 25px 0;
}

.legend {
	padding-bottom: 10px;
	padding-right: 50px;
	border-bottom: 2px solid #f2f2f2;
	margin-bottom: 40px;
	&.profile {
		margin-bottom: 20px;
	}
}
