# See https://help.github.com/ignore-files/ for more about ignoring files.
# .swp files
**/*.swp
**/*.swo

# dependencies
**/node_modules

# testing
*/coverage

# production
*/build
*/dist

# misc
*/.DS_Store
#*/.env is currently allowed, for public environment variables...maybe don't want that though
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local

#credentials
**/serviceAccountKey.json

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
