@import 'theme/_helpers';
.testResult {
  width: 100%;
  padding: 0 0 20px 0;
}
.table {
  padding: 0 20px;
  h2 {
    margin-top: 0;
  }

  .tableHeader {
    width: 100%;
    background-color: #394e7f;
    color: #fffffff7;
    th {
      padding: 10px;
      text-align: center;
      white-space: nowrap;
      //border: gray 1px solid;
    }

    .headerCaption {
      font-weight: normal;
      white-space: nowrap;
    }
  }
  .row {
    width: 100%;

  }


  // doing tables so easy to do widths from parent component
  .column0 {
  }

  .column1 {

  }
  .column2, .column3, .column4 {
    text-align: center;
  }
  .totalsRow {
    .column0, .column1, .column2, .column3, .column4  {
      padding: 0 0 1rem 0;
    }
    .column1 {
      text-align: left;
      padding-left: .5rem;
    }
  }
}
