@import 'theme/_helpers';

  .icon {
    //float: right;
    padding: 0px 5px 0 0;
  }
.tableHeader {
  font-weight: bold;
}
.columnOne {
  @include cols(6)
}
.columnTwo {
  @include cols(6)

}
.columnThree {
  @include cols(6)

}
.posts {
  .postCard {
  }
}

.content {
  text-align: left;
}
