@import 'theme/_helpers';
.container {
  visibility: visible;
  opacity: 1;
  max-height: 2000px ;
  @include transition(max-height, .8s, ease);
  overflow-y: hidden;

  &.hidden {
    max-height: 0;
    overflow-y: hidden;
  }

}
.table {
  border-bottom: 1px solid $black;
  h2 {
    margin-top: 0;
  }

  .tableHeader {
    width: 100%;
    div {
      font-weight: bold;
    }
  }
  .row {
    width: 100%;

  }

  .auditTestContainer {
    border-top: 1px solid $black;
    width: 100%;

    &.evenRow {
      background: $even-lighter-purple-gray;
    }
    &.oddRow {
      //background: $light-purple-gray;
    }
    .header {
      font-weight: bold;
      .previewText {
        font-weight: normal;
      }
    }
    .topRow {
      cursor: pointer;
      text-align: left;
      padding-left: 30px;
      min-height: 50px;
      &:hover {
        background: $light-purple-gray;
      }
    }

    h2 {
      margin-bottom: 0;
      font-weight: normal;
    }
    //flexbox likes to shrink its children if it has overflow, rather than just adding a scrollbar. Min height stops that from happening
    button {
      min-height: 38px;
      //padding: 10px 15px; //was spazzing out, flipping back and forth between the paddings, so just forget it
    }
  }
}
.flags {
  display: inline-block;
}
