@import 'theme/_helpers';

.profilePic {
  width: 50px;
}
.cardLabel{
  font-weight: bold;
}
.utms {
  width: 100%;
  .utmField {
    width: 100%;
  }

}
.imageLink {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 75px;
  margin: 10px;
  cursor: pointer;
}
.toUpdate {
  border: blue solid 1.5px;
  h5 {
    color: blue;
  }
}
.toCreate {
  border: green solid 1.5px;
  h5 {
    color: green;
  }
}
.toDelete {
  border: red solid 1.5px;
  h5 {
    color: red;
  }
}
