@import 'theme/_helpers';
.modal {
  h1 {
    text-align: center;
    font-size: 24px;
  }
  h2 {
    text-align: center;
  }
}
.formSection {
  margin: 0 10px 10px 10px;
  h2 {
    margin-top: 0;
  }
  .settingLabel {
    display: flex;
    align-items: center;
    .main {
      font-weight: bold;
    }
  }

  .settingValue {
    text-align: right;
    width: 120px;
    .toggleButton {
    }
    & > div, & > a {
      width: 100%;
      text-align: center;
      float: right;
    }
  }

  //when toggled is closed, when opened though, is this
  .expandedForm {
    margin-top: 30px;
  }

  .createBtn {
    margin-top: 25px;
  }
}
.popupWrapper {
  position: relative;
  width: 170px;
  float: right;
  text-align: center !important;
}
