@import 'theme/_helpers';

.fields {
  padding: 0;
  text-align: center;

  .form {
    margin: 0 5%;

  }
}
.table {
  border-spacing: 0;
  th, td {
    padding: 0px 25px;
  }
}
.evenRow {
  background: $even-lighter-purple-gray;
}
.oddRow {
  //background: $light-purple-gray;
}

.popupWrapper {
  position: relative;
}
.buttonStack {
  margin: 15px 0;
  width: 130px;
  button {
    display: block;
    margin: 4px !important; //margins are collapsing, and thsoe in campaign are not for some reason, so making consistenT
    width: 120px;
  }
}
