@import 'theme/_helpers';

.fields {
  padding: 0;
  text-align: center;

  .form {
    margin: 0 5%;

  }
}
.popupWrapper {
  position: relative;
}
.table {
  border-spacing: 0px;
}
.evenRow {
  background: $even-lighter-purple-gray;
}
.oddRow {
  //background: $light-purple-gray;
}

.buttonStack {
  margin: 15px 0;
  button {
    margin: 2px !important;
    width: 120px;
  }
}
