@import 'theme/_helpers';

.paramsMenu {
  @include mq(xs) {
    @include cols(12)
  }
  @include mq(sm) {
    @include cols(3)
  }
}

.paramsFields {
  h2 {
    margin: 0;
  }
  .accountInfo {
    margin: .5rem 0 15px;
  }
  .profilePic {
    position: absolute;
    right: 30px;
    width: 50px;
  }
  .textEditor {
    //TODO size by characters, depending on the maximum allowed for that post type
    textarea {
      //resize: none;
      width: 100%;
    }

    .dropImage {
      height: 125px;
      width: 125px;
      margin: 10px;
      cursor: pointer;
    }
  }
}

.utms {
  div {
    display: inline-block;
  }
  .utmCheckbox {
    width: 200px;
    text-align: left;

    i {
      width: 20px;
    }
  }
  .utmField {
    line-height: 1.7rem;
    text-align: left;
  }

}
.dropImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.instructions {
  text-align: left;
  h5 {
    font-size: 1rem;
  }

}
.leftColumn {
  margin-right: 30px;
  font-weight: bold;
  //TODO use a class
  div {
    margin-bottom: 5px;
  }
}
.rightColumn {
  div {
    margin-bottom: 5px;
  }
}
.warningMessage {
  color: $danger;
}
.popupWrapper {
  position: relative;
}
