.siteForm {
  padding: 0px 10px 20px 0;

  .websiteFilters  {

    .websiteSelect {
      width: 40%;
    }

    .googleBtn {
      min-width: 200px;
      margin-bottom: 20px;
    }

  }

  .datetimeFilters {

  }
  .timeRangeSelect {
    width: 33%;
  }

}
