@import 'theme/_helpers';

.menuItem {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  & > a, & > a:visited {
    display: block;
    padding: 10px 20px;
    background: $nav-bg;
    color: $text;
    &:hover {
      color: $nav-hover-font;
      background: $nav-hover-bg;
    }
  }
  & > a.navActive {
    background: $nav-hover-bg;
    color: $nav-hover-font;
    &:hover {
      color: $nav-hover-font;
    }
  }

  .badge {
    display: block;
    background: $primary;
    color: $white;
    float: right;
    min-width: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: -3px;
    font-weight: bold;
  }
}
