@import 'theme/_helpers';

.header {
  border-bottom: $primary solid 2px;
  background-color: $header-bg;

  .leftNav {
    width: $sidebar-width;
    a {
      height: 100%;
      padding: 0;
      height: calc(#{$header-height} - 10px); //subtract 10 for the margin
      margin: 5px 10px;

      img {
        display: block;
        height: 100%;
        //margin: auto;
      }
    }


    button {
      margin: 0;
      width: 140px;
    }
  }
  .centerNav {
    height: 100%;
    width: 100%;

  }
  .rightNav {
  }
  .mainNav {
    width: 100%;
    height: 100%;
  }
}
