@import 'theme/_helpers';

.postMenu {
  @include mq(xs) {
    @include cols(12)
  }
  @include mq(sm) {
    @include cols(3)
  }
}

.utms {
  div {
    display: inline-block;
  }
  .utmCheckbox {
    width: 200px;
    text-align: left;

    i {
      width: 20px;
    }
  }
  .utmField {
    line-height: 1.7rem;
  }

}

