@import 'theme/_helpers';

.landingPage {
  width: 100%;
  h1 {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  h2 {
    display: inline-block;
    padding: 0 5px;
  }
  p, li {
    margin-top: 0;
    font-size: 1.2rem;
  }
}
//for the whole header row
//replaces teh layerCtn for the header.
.headerCtn {
  width: 100%;
  overflow: hidden;
  background-color: $white;
  //puts some padding etc. For all the stuff inside the header
  .headerContentCtn {
    height: calc(100vh - 50px);
    padding-top: 20px;
    img {
      max-height: 250px;
    }
  }
}
//is a whole layer, all the way left to all the way right.
.layerCtn {
  width: 100%;
  overflow: auto;
  padding: 15px;
}

//to alternate colors for middleContentCtns. will be on a layerCtn, so whole layer gets the color
.oddCtn {
  background-color: $primary;
  color: $white;
}
.evenCtn {
  background-color: $light-gray-bg;
}

//holds the content for the middle containers, making sure they don't go too big
.contentCtn {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;

  //could just combine these divs, unless the h1 is outside of the contentWrapper. So leave it so it's easy to change in teh future :)
  .contentWrapper {
    min-height: 500px;
  }
  .bottomContentWrapper {
    min-height: 400px;
  }

}
//to divide left and right of the middle containers
//currently I just have to do direction: row-reverse in the parent flexbox though
.leftSection {
  @include mq(xs) {
    @include cols(12)
  }
  @include mq(sm) {
    @include cols(6);
  }
  padding: 0 20px;
}
.rightSection {
  @include mq(xs) {
    @include cols(12)
  }
  @include mq(sm) {
    @include cols(6);
  }
  padding: 0 20px;

  img {
    float: right;
  }
}

.imageCtn {
  background: transparent;
  overflow: hidden;

  img {
  }
}
//I think this is for full-sized images?
.fullImageCtn {
  margin: 0 0 -320px 0;
  text-align: center;
  padding: 20px 0;
  background: transparent;

  img {
    margin: 0 40px;
    max-width: 880px;
    background-color: $white;
    border: $white 3px solid;
  }
}
.textCtn {
  text-align: left;
  margin-top: 10px;
}
.bottomCtn {
  min-height: 400px;
  button {
    margin: 0 auto;
  }
}
