@import 'theme/_helpers';

.sidebar {
  min-height: 100vh;
  min-width: 250px;
  width: 250px;
  box-sizing: border-box;
  background: $sidebar;
  color: $white;
  padding: 40px 20px;
}

.sidebarNav {
  list-style: none;
  margin: 0 -20px;
  padding: 0;
  background: $nav-bg;

  a {
    border: 1px solid $nav-border;
  }
}

