.filtersForm {
  padding: 0px 20px;

  .websiteFilters  {
    padding: 20px 0px;

    .websiteSelect {
      width: 40%;
      padding: 0 20px;
    }

    .googleBtn {
      min-width: 200px;
    }

  }

  .datetimeFilters {

  }
  .timeRangeSelect {
    width: 33%;
  }

}
.topNewCampaignButton {
  margin-bottom: 30px;
}
