@import 'theme/_helpers';

.messageMenu {
  @include mq(xs) {
    @include cols(12)
  }
  @include mq(sm) {
    @include cols(3)
  }
}

.messageTemplate {
  @include mq(xs) {
    @include cols(12)
  }
  @include mq(sm) {
    @include cols(9)
  }
}

.instructions {
  text-align: left;

}
.leftColumn {
  margin-right: 30px;
  font-weight: bold;
  div {
    margin-bottom: 5px;
  }
}
.rightColumn {
  div {
    margin-bottom: 5px;
  }
}
