@import 'theme/_helpers';


main.userContent {
  width: 960px;
  position: relative;
  background: $user-content-bg;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px 30px 0 ;
}
.rightColumn {
}
